{
  "worker_url": "l2c-proxy.bomzzn.workers.dev",
  "custom_domain": "api.example.com",
  "token": "your-secret-token",
  "tunnels": [
    {
      "id": "app-one",
      "local": "http://localhost:8000"
    },
    {
      "id": "app-two",
      "local": "http://localhost:9000"
    }
  ]
}
